{% extends 'base.html' %}

{% block title %}
	登录
{% endblock %}

{% block main %}
	<div class="m-auto p-1" style="max-width: 330px">
            <h1>登录</h1>
        <form action="" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">邮箱</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">密码</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="remeber" value="1">
                <label class="form-check-label" for="exampleCheck1">记住我</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100">立即登录</button>
            </div>
        </form>
    </div>
{% endblock %}